/* шрифты */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Tailwind */
@import "tailwindcss";

/* глобальные стили */
@layer base {
  body {
    width: 100%;
    min-height: 100vh;
    line-height: 1.5;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
  }
}